influxdb:
  version: 0.9.6.1
  logging:
    directory: '/var/log/influxdb'
    file: 'influxd.log'
  conf:
    bind_address: '0.0.0.0'
    hostname: 'foo.example.com'
    port: 8086
    reporting_disabled: 'false'
    authentication:
      enabled: 'false'
    admin:
      enabled: 'true'
      port: 8083
    api:
      ssl_cert: '/path/to/cert.pem'
      ssl_port: 8087
    broker:
      enabled: 'true'
      dir: '/var/influxdb/raft'
    collectd:
      address: '0.0.0.0'
      database: 'collectd_database'
      enabled: 'false'
      port: 25827
      typesdb: '/usr/share/collectd/types.db'
    data:
      dir: '/var/influxdb/db'
      enabled: 'true'
      retention_auto_create: 'true'
      retention_check_enabled: 'true'
      retention_check_period: '10m'
    initialization:
      join_urls: 'http://host:port,http://host2:port'
    opentsdb:
      address: '0.0.0.0'
      database: 'opentsdb_database'
      enabled: 'false'
      port: 4242
    snapshot:
      bind_address: '127.0.0.1'
      enabled: 'true'
      port: 8087
    udp:
      bind_address: '0.0.0.0'
      enabled: 'false'
      port: 4444
  lookup:
    config: '/etc/influxdb/config.toml'
    etc_default: '/etc/default/influxdb'
    fullname: 'InfluxDB Service User'
    home: '/opt/influxdb'
    logrotate_conf: '/etc/logrotate.d/influxdb'
    shell: '/bin/false'
    system_group: 'influxdb'
    system_user: 'influxdb'
  tmpl:
    config: 'salt://influxdb/files/influxdb_0.9.config.toml.jinja'
    default: 'salt://influxdb/files/influxdb_0.9.default'
    logrotate: 'salt://influxdb/files/logrotate.conf.jinja'

# vi: set ft=yaml :
