{% import_yaml "influxdb/defaults.yaml" as defaults %}
{% import_yaml "influxdb/os_map.yaml" as os_map %}

{# Filter os_map by os grain and merge overrides #}
{% set distro_map = salt['pillar.get'](
    'influxdb:lookup',
    default=salt['grains.filter_by'](os_map),
    merge=True)
%}

{# Merge distro_map into settings dictionary #}
{% do defaults.influxdb.update(distro_map) %}

{# Update settings defaults from pillar data #}
{% set influxdb_settings = salt['pillar.get'](
    'influxdb',
    default=defaults.influxdb,
    merge=True)
%}

# vi: set ft=sls :
